* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.container {
  margin-left: calc(
            15px +
                67 *
                ((100vw - 320px) / 960)
        );
  margin-right: calc(
            15px +
                67 *
                ((100vw - 320px) / 960)
        );
}

a i {
  color: #000;
}

.top {
  background: #002d2d;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header:before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #002d2d;
  z-index: 2;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 16px 0;
}

.menu-zindex {
  position: relative;
  z-index: 3;
}

.logo {
  font-weight: bold;
  font-style: italic;
  margin-right: 8px;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  text-transform: uppercase;
}

.nav {
  width: 100%;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-wrapper ul {
  display: flex;
  list-style: none;
  gap: 32px;
}
.nav-wrapper ul a {
  font-size: 17px;
  letter-spacing: 0.34px;
  color: #ffffff;
  text-decoration: none;
}
.nav-wrapper ul a:hover {
  color: #008060;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn {
  display: block;
  min-width: 146px;
  background: #008060;
  border: 2px solid #008060;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 113%;
  color: #ffffff;
  padding: 11px;
  cursor: pointer;
  border: none;
}
.btn:hover {
  background: #026b51;
}

.burger-menu {
  display: none;
  width: 48px;
  height: 48px;
}
.burger-menu:before, .burger-menu:after {
  content: "";
  position: relative;
  width: 100%;
  height: 2px;
  background: #fff;
  display: block;
  transition: 0.3s;
}
.burger-menu span {
  width: 100%;
  height: 2px;
  background: #fff;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* preview ======== */
.preview {
  padding-top: 75px;
  background: #002d2d;
}

.preview-content {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 30px;
  align-items: center;
}

.preview-left {
  flex: 1 1 50%;
}

.preview-title {
  font-size: 58px;
  line-height: 110%;
  letter-spacing: 1.35px;
  color: #ffffff;
  margin-bottom: 41px;
}

.preview-subtitle {
  font-size: 18px;
  line-height: 133%;
  color: #ffffff;
}

.form-wrapper {
  margin-top: 34px;
  margin-bottom: 24px;
}

form {
  display: flex;
  gap: 16px;
}
form input {
  padding: 13px 16px;
  flex: 1 1 auto;
  box-shadow: 0px 0px 0px #6b7177;
  border-radius: 4px;
  border: none;
}

.preview-text {
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 20px;
}

.preview-right {
  position: relative;
  flex: 1 1 590px;
  height: 493px;
}
.preview-right img {
  width: 100%;
  height: 493px;
}
.preview-right img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.preview-right video {
  position: absolute;
  top: 0;
  left: 0;
  height: 493px;
  width: 100%;
}
.preview-right video:focus {
  outline: none;
}
.preview-right .video-player {
  display: none;
}
.preview-right .video-pouse,
.preview-right .video-close {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
}
.preview-right .video-pouse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.preview-right .video-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.preview-right .video-close i {
  font-size: 20px;
}

/* preview ======== */
/* benefits ========= */
.benefits {
  padding-top: 84px;
}

.container-2 {
  padding-left: calc(
            15px +
                49 *
                ((100vw - 320px) / 960)
        );
  padding-right: calc(
            15px +
                49 *
                ((100vw - 320px) / 960)
        );
}

.benefits-title {
  margin-bottom: 37px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #212326;
  width: 60%;
  font-size: calc(
            28px +
                32 *
                ((100vw - 320px) / 960)
        );
}

.sense {
  background: url(../img/sense.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  height: 564px;
  padding: 31px 48px;
  margin-bottom: 64px;
}

.sense-text {
  font-size: 22px;
  line-height: 133%;
  color: #ffffff;
}
.sense-text span {
  font-size: 29px;
  line-height: 110%;
}

.benefits-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 36px;
}

.benefits-item {
  flex: 1 1 30%;
  border-top: 3px solid #939393;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
}

.benefits-item-title {
  font-size: 24px;
  line-height: 133%;
  color: #212326;
  margin-bottom: 21px;
}

.text {
  margin-bottom: 16px;
  flex: 1 1 auto;
}

.text,
.link {
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

a.link {
  color: #008060;
  text-decoration: none;
}
a.link:hover {
  text-decoration: underline;
}

/* benefits ========= */
/* connect ========= */
.connect {
  padding-top: 145px;
}

.connect-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 130px;
}

.connect-item {
  flex: 1 1 30%;
}

.connect-item1 {
  padding-left: 78px;
}

.connect-item2 {
  padding: 41px 83px;
  background: #fff8f6;
  border-radius: 30px;
  text-align: center;
}
.connect-item2 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 453px;
  border-radius: 5px;
}

.connect-2 .connect-item2 img {
  max-height: 336px;
}

.connect-title {
  font-size: 30px;
  line-height: 133%;
  letter-spacing: 0.621429px;
  color: #212326;
  margin-bottom: 19px;
}

.connect .text {
  color: #6b7177;
}

.connect-2 .connect-wrapper {
  flex-direction: row-reverse;
  gap: 64px;
}
.connect-2 .connect-item1 {
  padding-right: 85px;
  padding-left: 0;
}
.connect-2 .connect-item2 {
  flex: 1 1 50%;
  padding: 58px 65px;
}

/* connect ========= */
/* progress ========== */
.swiper {
  width: 100%;
  height: 100%;
}

.progress {
  padding-top: 145px;
  padding-bottom: 131px;
}

.progress-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-column-gap: 70px;
       column-gap: 70px;
  row-gap: 45px;
}

.progress-item-text {
  flex: 1 1 60%;
}

.progress-label {
  font-size: calc(
            20px +
                2 *
                ((100vw - 320px) / 960)
        );
  line-height: 145%;
  letter-spacing: 0.497143px;
  color: #212326;
  margin-bottom: 18px;
}

.progress-title {
  font-size: calc(
            29px +
                7 *
                ((100vw - 320px) / 960)
        );
  line-height: 133%;
  color: #000000;
  margin-bottom: 25px;
}

.progress-subtitle {
  font-size: calc(
            15px +
                2 *
                ((100vw - 320px) / 960)
        );
  line-height: 141%;
  color: #000000;
}

.progress-item-img {
  width: 360px;
  height: 339px;
}
.progress-item-img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.swip-btns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  margin-top: 74px;
  gap: 18px;
}
.swip-btns .swiper-button-next,
.swip-btns .swiper-button-prev {
  position: relative;
  right: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
  background: #000000;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
.swip-btns .swiper-button-next:after,
.swip-btns .swiper-button-prev:after {
  content: "";
}

/* progress ========== */
/* help ============= */
.help {
  display: flex;
  align-items: center;
  background: #fbf7ed;
}

.help-text {
  padding-left: 65px;
  margin-right: 15px;
  margin-left: 15px;
  flex: 1 1 48%;
}

.help-heading {
  font-size: calc(
            38px +
                6 *
                ((100vw - 320px) / 960)
        );
  line-height: 136%;
  letter-spacing: 1px;
  color: #212326;
  margin-bottom: 65px;
}

.help-items {
  display: flex;
  -moz-column-gap: 37px;
       column-gap: 37px;
  row-gap: 61px;
  flex-wrap: wrap;
}

.help-item {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
}

.help-title {
  font-size: 18px;
  line-height: 133%;
  color: #000000;
  margin-bottom: 19px;
}

.help .text {
  color: #6b7177;
}

.help-img {
  flex: 1 1 50%;
  text-align: right;
}
.help-img img {
  width: 100%;
  max-height: 766px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* help ============= */
/* start ========== */
.start {
  padding: 92px 15px 96px;
  text-align: center;
}

.start-title {
  font-size: 36px;
  line-height: 133%;
  color: #212326;
  margin-bottom: 19px;
}

.start-text {
  font-size: 20px;
  line-height: 188%;
  color: #6B7177;
  margin-bottom: 32px;
}

.start .btn {
  margin: 0 auto;
}

/* start ========== */
/* footer ============ */
.footer {
  background: #004C3F;
  color: #FFFFFF;
}
.footer a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer a:hover {
  text-decoration: underline;
}

.footer-top {
  padding: 25px 0;
}
.footer-top ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
}

.footer-link {
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.footer-wrapper {
  display: flex;
  border-top: 1px solid rgba(210, 213, 217, 0.1);
  padding-top: 22px;
  -moz-column-gap: 63px;
       column-gap: 63px;
  row-gap: 40px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.footer-item a {
  display: block;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 10px;
}
.footer-item a:last-child {
  margin-bottom: 0;
}

.footer-item-count {
  -moz-columns: 3 150px;
       columns: 3 150px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.footer-title {
  font-size: 12px;
  line-height: 133%;
  text-transform: uppercase;
  margin-bottom: 16px;
  -moz-column-span: all;
       column-span: all;
}

.footer-bottom {
  border-top: 1px solid rgba(210, 213, 217, 0.1);
  padding-top: 42px;
  padding-bottom: 43px;
}

.footer-bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 26px;
}

.social-item {
  background: #000000;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-item i {
  font-size: 15px;
  color: #004C3F;
}
.social-item:hover {
  background: #008060;
}
.social-item:hover i {
  color: #fff;
}

.footer-bottom-link {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.select-languages {
  margin-left: 9px;
}
.select-languages select {
  background: #004C3F;
  border: none;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 0 5px;
}

/* footer ============ */
@media screen and (min-width: 1850px) {
  .hedaer .nav-wrapper ul a {
    font-size: 19px;
  }
  .preview .preview-text {
    font-size: 15px;
  }
  .benefits .benefits-item-title {
    font-size: 28px;
  }
  .benefits .text,
.benefits .link,
.help .text,
.help .link {
    font-size: 20px;
  }
  .connect-title {
    font-size: 33px;
  }
  .connect .text,
.connect .link {
    font-size: 22px;
  }
  .help .help-title {
    font-size: 22px;
  }
}
@media screen and (min-width: 1600px) {
  .nav-wrapper ul a {
    font-size: 18px;
  }
  .btn {
    font-size: 18px;
    padding: 13px;
  }
  .preview-text {
    font-size: 14px;
  }
  .benefits-item-title {
    font-size: 26px;
  }
  .text,
.link {
    font-size: 18px;
  }
  .help-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 1280px) {
  .connect {
    padding-top: calc(70px + 75 * (100vw - 320px) / 960);
  }
  .connect-wrapper {
    gap: calc(70px + 60 * (100vw - 1000px) / 280);
  }
  .connect-2 .connect-wrapper {
    gap: calc(45px + 19 * (100vw - 1000px) / 280);
  }
  .connect-item1 {
    padding-left: calc(20px + 58 * (100vw - 1000px) / 280);
  }
  .connect-item2 {
    padding-left: calc(30px + 53 * (100vw - 1000px) / 280);
    padding-right: calc(30px + 53 * (100vw - 1000px) / 280);
  }
  .connect-2 .connect-item1 {
    padding-right: calc(20px + 65 * (100vw - 1000px) / 280);
  }
  .connect-2 .connect-item2 {
    padding-left: calc(30px + 35 * (100vw - 1000px) / 280);
    padding-right: calc(30px + 35 * (100vw - 1000px) / 280);
  }
  .progress {
    padding-top: calc(70px + 75 * (100vw - 320px) / 960);
    padding-bottom: calc(70px + 61 * (100vw - 320px) / 960);
  }
  .help-text {
    padding-left: calc(15px + 65 * (100vw - 1022px) / 258);
  }
  .help-heading {
    margin-bottom: calc(
            40px +
                25 *
                ((100vw - 320px) / 960)
        );
  }
}
@media screen and (max-width: 1250px) {
  .help-text {
    padding-left: calc(15px + 25 * (100vw - 1022px) / 228);
  }
}
@media screen and (max-width: 1150px) {
  .help {
    flex-direction: column;
    padding-top: calc(65px + 24 * (100vw - 320px) / 830);
    row-gap: 45px;
  }
  .help-text {
    padding-left: 0;
  }
  .help-img {
    flex: 1 1 100%;
    width: 100%;
  }
  .help-img img {
    height: 500px;
  }
}
@media screen and (max-width: 1022px) {
  .preview-content {
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 20px;
  }
  .preview-right {
    flex: 1 1 493px;
  }
  .benefits-item {
    flex: 1 1 47%;
  }
}
@media screen and (max-width: 1000px) {
  .burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .burger-menu.active span {
    transform: scale(0);
  }
  .burger-menu.active:before {
    transform: rotate(40deg);
    top: 13px;
    right: 2px;
  }
  .burger-menu.active:after {
    transform: rotate(-40deg);
    bottom: 10px;
    right: 2px;
  }
  .nav {
    position: fixed;
    top: 0;
    right: -110%;
    background: #008060;
    width: 50%;
    height: 100%;
    padding-top: 100px;
    z-index: 1;
  }
  .nav .nav-wrapper {
    padding-right: calc(
            15px +
                67 *
                ((100vw - 320px) / 960)
        );
    text-align: right;
    display: block;
  }
  .nav .nav-wrapper ul {
    display: block;
  }
  .nav .nav-wrapper ul li {
    margin-bottom: 20px;
  }
  .nav .nav-wrapper ul li a {
    font-size: 22px;
    letter-spacing: 2px;
  }
  .nav .nav-wrapper ul li a:hover {
    color: #fff;
    text-decoration: underline;
  }
  .nav.active {
    right: 0;
  }
  .connect-wrapper {
    gap: calc(45px + 25 * (100vw - 320px) / 680);
  }
  .connect-2 .connect-wrapper {
    gap: 45px;
  }
  .connect-item {
    flex: 1 1 100%;
  }
  .connect-item1 {
    padding-left: 0;
  }
  .connect-item2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .connect-2 .connect-item1 {
    padding-right: 0;
  }
  .connect-2 .connect-item2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .progress-item-text {
    flex: 1 1 100%;
  }
}
@media screen and (max-width: 860px) {
  .benefits-title {
    width: 70%;
  }
}
@media screen and (max-width: 765px) {
  .header-wrapper {
    padding: 10px;
  }
  .benefits-title {
    width: 75%;
  }
  .help-items {
    row-gap: 45px;
  }
}
@media screen and (max-width: 600px) {
  .nav {
    width: 70%;
    padding-top: 80px;
  }
  .burger-menu {
    width: 35px;
    height: 35px;
  }
  .burger-menu span {
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .burger-menu.active:before {
    top: 10px;
  }
  .preview-title {
    font-size: 50px;
  }
  .benefits-title {
    width: 100%;
  }
  .footer-wrapper {
    justify-content: space-between;
  }
}
@media screen and (max-width: 540px) {
  .help-items {
    row-gap: 30px;
  }
  .help-item {
    flex: 1 1 100%;
  }
}
@media screen and (max-width: 500px) {
  .btn-none {
    display: none;
  }
  .preview-title {
    font-size: 47px;
    margin-bottom: 35px;
  }
  .sense {
    padding-left: 40px;
  }
  .sense .sense-text {
    font-size: 19px;
  }
  .sense .sense-text span {
    font-size: 27px;
  }
}
@media screen and (max-width: 425px) {
  .preview-title {
    font-size: 42px;
    margin-bottom: 30px;
  }
  .preview-subtitle {
    font-size: 16px;
  }
  form {
    flex-direction: column;
  }
}
@media screen and (max-width: 377px) {
  .burger-menu {
    width: 30px;
    height: 30px;
  }
  .burger-menu span {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .burger-menu.active:after {
    bottom: 4px;
  }
  .preview-title {
    font-size: calc(35px + 3 * (100vw - 320px) / 57);
  }
}
